{:paths [:cljc-paths :resource-paths]
 :deps {
        com.draines/postal {:mvn/version "2.0.5"}
        leihs-core/leihs-core {:local/root "./shared-clj"}
        environ/environ {:mvn/version "1.2.0"}
        }

 :aliases {

           :build {:deps
                   {io.github.leihs/tools.build 
                    {:git/tag "v0.9.5-leihs"
                     :git/sha "94a26a9"}}
                   :ns-default scripts.build}

           :cljc-paths ["src" "shared-clj/src"]

           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.5.1109"} }
                      :main-opts ["-m" "antq.core"]}

           :resource-paths ["resources"]}}
